spring-webflow/src/main/java/org/springframework/webflow/engine/builder/xml/spring-webflow-2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema
	xmlns="http://www.springframework.org/schema/webflow"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.springframework.org/schema/webflow"
	version="2.0">

	<xsd:annotation>
		<xsd:documentation>
			<![CDATA[
Spring Web Flow Schema
Authors: Keith Donald, Erwin Vervaet
<br>
This Schema defines the Spring Web Flow (SWF) XML syntax.
<br>
The root "flow" element of this document defines exactly one flow definition.
A flow definition is a blueprint for an executable task that involves a 
single user (aka conversation or dialog).
<br>
A flow is composed of one or more states that form the steps of the flow.
Each state executes behavior when entered. What behavior is executed is a
function of the state's type. Core state types include view states,
action states, subflow states, decision states, and end states.
<br>
Each flow definition must specify exactly one start state.
Events that occur in transitionable states drive state transitions.
]]>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />

	<!-- Base types -->
	<xsd:complexType name="identifiedType" abstract="true">
		<xsd:attribute name="id" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>
					<![CDATA[
The unique identifier of this state; must be unique to this flow.
]]>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:simpleType name="scopeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="request">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Goes out of scope when a single call into this flow completes.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="flash">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Goes out of scope when the next user event is signaled into this flow.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="flow">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Goes out of scope when this local flow session ends.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="conversation">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Goes out of scope when the overall governing flow execution ends.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:group name="actionTypes">
		<xsd:choice>
			<xsd:element ref="evaluate">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Evaluates an arbitrary expression aganst the flow request context.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="render">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Requests that a specific fragment of the next view be rendered instead of the entire view.
Multiple fragments may be specified using a comma delimiter.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element ref="set">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Sets an attribute value in a scope.  Use this element when you need to set a variable value
during the course of flow execution.
<br>
For example:
<pre>
	&lt;set attribute="fileUploaded" scope="flash" value="true"/&gt;
</pre>
The above example instructs this flow to set the "fileUploaded" attribute in "flash scope" to "true".
This action always returns a "success" event unless an exception is thrown.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>

	<!-- Top level element -->
	<xsd:element name="flow">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
Defines exactly one flow definition.  A flow is composed of one or more states
that define the steps of a task.  One of those steps is the start state, which defines
the starting point of the task.
<br>
A flow may also exhibit the following characteristics:
<ul>
<li>Be annotated with attributes that define descriptive properties that may affect flow execution.
(See the &lt;attribute/&gt; element)

<li>Secured flow
(See the &lt;secured/&gt; element)

<li>Be a persistence context for managing persistent objects during the course of flow execution.
(See the &lt;persistence-context/&gt; element)

<li>Instantiate a set of instance variables when started.
(See the &lt;var/&gt; element)

<li>Map input provided by callers that start it
(See the &lt;input-mapper/&gt; element)

<li>Return output to callers that end it.
(See the &lt;output-mapper/&gt; element)

<li>Execute custom behaviors at start time and end time.
(See the &lt;start-actions/&gt; and &lt;end-actions/&gt; elements)

<li>Define transitions shared by all states.
(See the &lt;global-transitions/&gt; element)

<li>Handle exceptions thrown by its states during execution.
(See the &lt;exception-handler/&gt; element)

<li>Import one or more local bean definition files defining custom flow artifacts
(such as actions, exception handlers, view factories, transition criteria, etc).
(See the &lt;import/&gt; element)

</ul>
]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
An attribute describing this flow.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="secured" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Indicates this flow is secured
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="persistence-context" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Indicates this flow manages a persistence context.  The persistence context is created when a new instance of this flow starts.
The persistence context is closed when the flow instance ends.  If the flow ends by reaching a "commit" end-state, changes
made to managed persistent entities during the course of flow execution are flushed to the database in a transaction.
<br>
The persistence context can be referenced from within this flow by the "entityManager" variable.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="var" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
A flow variable definition.  Flow variables are automatically created when an execution of this flow starts.
A flow variable can either be stored in 'flow' or 'conversation' scope.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="input-mapper" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Maps input attributes provided to this flow at startup.  The following mapping characteristics apply:
<ul>
<li>The 'source' of each mapping is a Map containing all the input provided by the caller
that launched this flow.
<li>The 'target' of each mapping is this flow execution's RequestContext, exposing access to
data structures such as 'flowScope'.
</ul>
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="start-actions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Defines flow startup logic to execute. This logic will always execute when this flow is started.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="action-state">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Defines an action state, a state where one or more actions are executed.
This state type is typically used to invoke application code, often business services.
An action state is a transitionable state.  A transition out of this state 
is driven by the result of action execution (e.g. success, error).
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="view-state">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Defines a view state, a state where an user (or other external actor) participates
in the flow.  When a view state is entered the flow execution "pauses" and control
goes to the user.  After some think time, the user "resumes" the flow execution
from the paused view-state by signaling an input event.
<br>
Once paused a view-state may be 'refreshed' by the user, for example, when the 
browser refresh button is clicked.  A refresh causes the response to be reissued, 
at which point control goes back to the user.
<br>
A view state may be configured with one or more &lt;render-action/&gt; elements.  Render
actions are executed before the view is rendered.  Such actions are often
idempotent and execute without side effects.
<br>
A view state is a transitionable state. A view state transition is triggered by a
user input event.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="decision-state">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Defines a decision state, a state that evaluates one or more expressions or method 
return values to decide which state to enter next.  Intended to be used purely as an
idempotent 'navigation' or 'routing' state and is not intended to execute non-idempotent
(or mutating) behavior.
<br>
A decision state is a transitionable state. A decision state transition can be triggered by
evaluating a boolean expression against the flow execution request context.  To 
define expressions, use the 'if' element.
<br>
Examples:
<br>
A simple boolean expression test, using the convenient 'if' element:
<pre>
    &lt;decision-state id="requiresShipping"&gt;
	    &lt;if test="flowScope.sale.shipping" then="enterShippingDetails" else="processSale"/&gt;
    &lt;/decision-state&gt;
</pre>
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="subflow-state">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Defines a subflow state, a state that spawns another flow as a subflow when entered.  When the
subflow ends, this state is expected to respond to its result.
<br>
A subflow state is a transitionable state.  A state transition is triggered by a
subflow result event, which describes the logical subflow outcome that occurred.  Typically the 
criteria for this transition is the id of the subflow end state that was entered.
<br>
While the subflow is active, this flow is suspended waiting for the subflow to complete execution.
When the subflow completes execution by reaching an end state, this state is expected 
to respond to the result of that execution. The result of subflow execution, the end state 
that was reached, should be used as grounds for a transition out of this state.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="end-state">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Defines an end state, a state that terminates this flow when entered.
<br>
A end state is not transitionable--there are never transitions out of an end state.
When an end-state is entered, an instance of this flow is terminated.
<br>
When this flow terminates, if it was acting as the "root" or top-level flow the entire  
execution (conversation) is terminated. If this flow was acting as a subflow the subflow
session ends and the calling parent session resumes. To resume, the parent session
responds to the result of the subflow, typically by reasoning on the id of the end
state that was reached.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:element ref="global-transitions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Defines flow-level transitions eligible for execution if a state-level transition cannot be matched.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="end-actions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Defines flow ending logic to be executed. This logic will always execute when this flow is ended.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="output-mapper" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
The mapper that will map flow output attributes when this flow ends.  Output attributes act 
as flow return values.
<br>
For the output mapper the following mapping characteristics apply:
<ul>
<li>The 'source' of each mapping is this flow execution's RequestContext, exposing access to 
internal data structures such as 'flowScope'.
<li>The 'target' of each mapping is the flow output map that will contain the output returned to the
caller that launched this flow.
</ul>
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="exception-handler" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Defines an exception handler to handle one or more exceptions that may occur during the
execution of this flow definition. Exception handlers may be attached at the state or flow level.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="import" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Requests the import of all custom flow artifacts contained within a single bean
definition resource location.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="start-state" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Identifies the starting point of this flow.  The start state is the point where flow execution begins.
If not specified, the default start state is the first state defined in the document.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<!-- Sub elements -->
	<xsd:element name="input-mapper">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="mapping" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
A rule that maps the value of a source expression to a property of a target data structure.
Extremely flexible, allowing mapping of input attributes from any data structure with 
support for type conversion.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="mapping">
		<xsd:complexType>
			<xsd:attribute name="source" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The expression resolving the source value to be mapped.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="target" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The property expression defining the target property to be set.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="target-collection" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The expression resolving the target collection that the source value should be added to.
Use this or the 'target' attribute, not both.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="from" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The source value type.  If the source type differs from the target type a type conversion
will be performed.  The type may be an alias (e.g 'string') or a fully-qualified class
(e.g. 'java.lang.String').
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="to" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The target value type.  If the source type differs from the target type a type conversion
will be performed.  The type may be an alias (e.g 'int') or a fully-qualified class
(e.g. 'java.lang.Integer').
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="required" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Whether or not this mapping is a required mapping.  If marked required and the source 
evaluates to null an error will be reported.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="attribute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="value" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
The value of this attribute, defined within an element for supporting longer free-text values.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The name of this attribute.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="type" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The target type of the attribute value; to facilitate from-string type conversion. This type
string may be an alias (e.g 'int') or a fully-qualified class (e.g. 'java.lang.Integer').
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="value" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The value of this attribute; a short-cut alternative to an explicit child 'value' element.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="value">
		<xsd:complexType mixed="true">
			<xsd:choice minOccurs="0" maxOccurs="unbounded" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="persistence-context"/>

	<xsd:element name="var">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The name of this variable, used as the index of the variable value set in the configured scope.
<br>
When specified without the 'class' or 'bean' attributes, this name is also used as the bean name
of a non-singleton bean in the configured Bean Factory to use as the initial variable value.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="class" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The implementation class of the variable's value.  The class may be an alias (e.g 'int') or a
fully-qualified class (e.g. 'java.lang.Integer').  The class cannot be abstract or an interface.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="scope" type="scopeType">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
This scope of this variable.  The available scope types are:
<ol>
<li>request - The variable goes out of scope when a call to start this flow completes.
<li>flash - The variable goes out of scope when the next user event is signaled.
<li>flow - The variable goes out of scope when this flow session ends.
<li>conversation - The variable goes out of scope when the overall conversation governing this flow ends.
</ol>
<br>    
If not specified the default scope type is used ('flow' by default).
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="start-actions">
		<xsd:complexType>
			<xsd:group ref="actionTypes" maxOccurs="unbounded" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="action-state">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="identifiedType">
					<xsd:sequence>
						<xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
An attribute describing this state.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="secured" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Indicates this state is secured.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="entry-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state entry logic to be executed. This logic will always execute when this state is entered.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:group ref="actionTypes" maxOccurs="unbounded" />
						<xsd:element ref="transition" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines a transition from one state to another.
<br>
A transition defines a supported path through the flow.  Transitions may be annotated with attributes
and may execute one or more actions before executing.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exit-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state exit logic to be executed. This logic will always execute when this state is exited 
regardless of what transition is executed.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exception-handler" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines an exception handler to handle one or more exceptions that may occur during the
execution of this flow definition. Exception handlers may be attached at the state or flow level.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="evaluate">
		<xsd:complexType>
			<xsd:attribute name="expression" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The expression to evaluate when this action is invoked.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="result" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
A fully resolvable expression such as #{flowScope.foo} or #{bean.bar} for exposing the result of the evaluation.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="result-type" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The desired evaluation result type.  Optional.  If specified and the method return value is not of the 
desired result type, a type conversion will be attempted.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="render">
		<xsd:complexType>
			<xsd:attribute name="fragments" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The fragments of the next view to render.  Multiple fragments may be specified by using the comma delimiter.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="set">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The name of the attribute to set.  May be a nested path using Java beans notation (e.g. bean.property) to set a property
on a bean in the specified scope, or it may be a fully resolvable expression such as "#{flowScope.foo}" instead.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="value" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The attribute value expression.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="transition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
An attribute describing this transition.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="secured" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Indicates this transition is secured
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:group ref="actionTypes" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="on" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The criteria that determines when this transition should execute.  This criteria typically evaluates 
the last event that occurred in this flow to determine if the transition matches and should execute.
<br>	
The most basic value is a static event id:
<pre>
	&lt;transition on="submit" to="state"/&gt;
</pre>
... which reads "on an occurrence of the 'submit' event transition to 'state'"
<br>
Sophisticated transitional expressions are also supported when enclosed within ${brackets}:
<pre>
	&lt;transition on="${#result == 'submit' &;amp;&amp flowScope.attribute == 'foo'}" to="state"/&gt;
</pre>
Custom transition criteria implementations can be referenced by id:
<pre>
	&lt;transition on="bean:myCustomCriteria" to="state"/&gt;
</pre>
The exact interpretation of this attribute value depends on the TextToTransitionCriteria
converter that is installed.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="on-exception" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The exception type that should trigger execution of this transition.
<br>
The value must be a fully-qualified Exception class name (e.g. example.booking.ItineraryExpiredException).
When an exception is thrown, superclasses of the configured exception class match by default.
<br>
Use of this attribute results in an exception handler being attached to the object associated
with this transition definition.  Use this attribute or the 'on' attribute, not both.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="to" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The target state to transition to.
<br>
The value of this attribute may be a static state identifier (e.g. to="displayForm")
or an expression to be evaluated at runtime against the request context
(e.g. to="${flowScope.previousViewState}"). Custom target state resolvers implementations
can be referenced by id (e.g. to="bean:myCustomTargetStateResolver"). The
exact interpretation of this attribute value depends on the installed TextToTargetStateResolver.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="view-state">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="identifiedType">
					<xsd:sequence>
						<xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
An attribute describing this state.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="secured" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Indicates this state is secured
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="var" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
A view variable definition.  View variables are automatically created when a view-state is entered and
destroyed when the view-state exits.  A view variable is stored in flow scope.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>	
						<xsd:element ref="entry-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state entry logic to be executed. This logic will always execute when this state is entered.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="render-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines view-state render logic to be executed. This logic will always execute when this state is asked 
to make a view selection capable of rendering a response in the current request.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="transition" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines a transition from one state to another.
<br>
A transition defines a supported path through the flow.  Transitions may be annotated with attributes
and may execute one or more actions before executing.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exit-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state exit logic to be executed. This logic will always execute when the state is exited 
regardless of what transition is executed.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exception-handler" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines an exception handler to handle one or more exceptions that may occur during the
execution of this flow definition. Exception handlers may be attached at the state or flow level.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="view" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
The name of the view to render when this view state issues its response.
<br>
This value may be a logical application view name which gets resolved to a template:
<pre>
	priceForm
</pre>
It may even be a direct pointer to a view template:
<pre>
	/WEB-INF/jsp/priceForm.jsp
</pre>
This value may also be a view name expression evaluated against the request context:
<pre>
	${flowScope.view}
</pre>
Use of the "externalRedirect:" prefix indicates this view state should trigger a 
redirect to an absolute external URL, typically to interface with an external system.
External redirect query parameters may be specified using ${expressions} that evaluate
against the request context:
<pre>
	externalRedirect:/someOtherSystem.htm?orderId=${flowScope.order.id}
</pre> 
Use of the "flowRedirect:" prefix requests a redirect to a new execution of another flow:
<pre>
	flowRedirect:myOtherFlow?someData=${flowScope.data}
</pre>
Use of the "bean:" prefix references a custom ViewFactory implementation you define,
exposed by id in either a flow-local context using the "import" element or in the parent 
context.
<pre>
	bean:myCustomViewFactory
</pre>
<br>
Note when no view name is provided, the view to render will be determined by convention.
The default convention is to treat the id of this view state as the view identifier.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="redirect" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Determines if this view state should request a flow execution redirect instead of rendering.
Default is false.					
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="popup" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Determines if this view state should render its view in a modal popup dialog.
Default is false.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="entry-actions">
		<xsd:complexType>
			<xsd:group ref="actionTypes" maxOccurs="unbounded" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="render-actions">
		<xsd:complexType>
			<xsd:group ref="actionTypes" maxOccurs="unbounded" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="exit-actions">
		<xsd:complexType>
			<xsd:group ref="actionTypes" maxOccurs="unbounded" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="decision-state">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="identifiedType">
					<xsd:sequence>
						<xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
An attribute describing this state.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="secured" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Indicates this state is secured
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="entry-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state entry logic to be executed. This logic will always execute when this state is entered.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="if" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
A transition specification that defines a boolean expression to evaluate when this state
is entered and a state to transition to if that expression evaluates to true.
Optionally, this element may also define an 'else' attribute to define a state to
transition to if the expression evaluates to false.
<br>
The form is:
<pre>
	&lt;if test="${criteria}" then="trueStateId" else="falseStateId"/&gt;
</pre>
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exit-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state exit logic to be executed. This logic will always execute when this state is exited 
regardless of what transition is executed.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exception-handler" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines an exception handler to handle one or more exceptions that may occur during the
execution of this flow definition. Exception handlers may be attached at the state or flow level.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="if">
		<xsd:complexType>
			<xsd:attribute name="test" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The transition criteria expression to be tested. This should be a boolean
${expression} that evaluates against this flow's request context.
<br>
For example:
<pre>
	&lt;if test="${flowScope.sale.shipping} then="enterShippingDetails"/&gt;
	&lt;if test="${lastEvent.id == 'search'} then="bindSearchParameters"/&gt;
</pre>
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="then" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The state to transition to if the boolean expression is true.
<br>
The value of this attribute may be a static state identifier (e.g. then="displayForm")
or an expression to be evaluated at runtime against the request context
(e.g. then="${flowScope.previousViewState}"). Custom target state resolvers implementations
can be referenced by id (e.g. to="bean:myCustomTargetStateResolver"). The
exact interpretation of this attribute value depends on the installed TextToTargetStateResolver.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="else" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The state to transition to if the boolean expression is false (optional).

The value of this attribute may be a static state identifier (e.g. else="displayForm")
or an expression to be evaluated at runtime against the request context
(e.g. else="${flowScope.previousViewState}"). Custom target state resolvers implementations
can be referenced by id (e.g. to="bean:myCustomTargetStateResolver"). The
exact interpretation of this attribute value depends on the installed TextToTargetStateResolver.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="subflow-state">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="identifiedType">
					<xsd:sequence>
						<xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
An attribute describing this state.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="secured" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Indicates this state is secured
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="entry-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state entry logic to be executed. This logic will always execute when the state is entered.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="input-mapper" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Maps data from this flow to the subflow as input.  The following mapping characteristics apply:
<ul>
<li>The 'source' of each mapping is this flow execution's RequestContext, exposing access to 
internal data structures such as 'flowScope'.
<li>The 'target' of each mapping is the input map that will be passed to the subflow.
</ul>
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="output-mapper" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
The mapper that will map flow output attributes when this flow ends by entering this 
end state.  Output attributes act as flow return values.
<br>
For the output mapper the following mapping characteristics apply:
<ul>
<li>The 'source' of each mapping is a Map containing all the output returned by the subflow.
<li>The 'target' of each mapping is this flow execution's RequestContext, exposing access to
data structures such as 'flowScope'.
</ul>
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>							
						<xsd:element ref="transition" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines a transition from one state to another.
<br>
A transition defines a supported path through the flow.  Transitions may be annotated with attributes
and may specify one or more actions to execute before executing.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exit-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state exit logic to be executed. This logic will always execute when this state is exited 
regardless of what transition is executed.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exception-handler" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines an exception handler to handle one or more exceptions that may occur during the
execution of this flow definition. Exception handlers may be attached at the state or flow level.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="subflow" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
The id of the flow to be spawned as a subflow when this subflow state is entered.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="subflow-attribute-mapper" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
The id of a custom bean to use to map attributes to and from the subflow.  Specifiy this attribute or one of the
input-mapper/output-mapper sub-elements, not both.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="end-state">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="identifiedType">
					<xsd:sequence>
						<xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
An attribute describing this state.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="secured" minOccurs="0" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Indicates this state is secured
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="entry-actions" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines state entry logic to be executed. This logic will always execute when this state is entered.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="output-mapper" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
The mapper that will map flow output attributes when this flow ends by entering this 
end state.  Output attributes act as flow return values.
<br>
For the output mapper the following mapping characteristics apply:
<ul>
<li>The 'source' of each mapping is this flow execution's RequestContext, exposing access to 
internal data structures such as 'flowScope'.
<li>The 'target' of each mapping is the flow output map that will contain the output returned to the
caller that launched this flow.
</ul>
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element ref="exception-handler" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Defines an exception handler to handle one or more exceptions that may occur during the
execution of this flow definition. Exception handlers may be attached at the state or flow level.
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="view" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
The name of the view to render when this end state is entered.
<br>
This value may be a logical application view name which gets resolved to a template:
<pre>
	priceForm
</pre>
It may even be a direct pointer to a view template:
<pre>
	/WEB-INF/jsp/priceForm.jsp
</pre>
This value may also be a view name expression evaluated against the request context:
<pre>
	${flowScope.view}
</pre>
Use of the "externalRedirect:" prefix triggers a redirect to a specific "after conversation completion"
external URL:
<pre>
    externalRedirect:/home.html
</pre>
Redirect query parameters may also be specified using ${expressions} that evaluate against
the request context:
<pre>
    externalRedirect:/thankyou.htm?confirmationNumber=${flowScope.order.confirmation.id}
</pre>
Use of the "flowRedirect:" prefix indicates this end state should trigger a redirect that
starts another flow.  Flow input parameters may be specified using ${expressions} that 
evaluate against the request context:
<pre>
	flowRedirect:search-flow?firstName=${flowScope.searchCriteria.firstName}
</pre>
Use of the "bean:" prefix references a custom ViewSelector implementation you define,
exposed by id in either a flow-local context using the "import" element or in the parent 
context.
<pre>
    bean:myCustomViewSelector
</pre>
The exact semantics regarding the interpretation of this value are determined by the
installed TextToViewSelector converter.
<br>
Note when no view name is provided, this end state will issue no final response.  In this case,
it is expected the calling flow controller will handle issuing the final response.
]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="commit" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								<![CDATA[
Indicates if this end-state is a "commit state".  If true, any changes made to managed entities attached to the flow's persistence context
will be flushed in a system transaction when this state is reached.  If false, no flush will occur. This attribute has no effect
if the flow is not a persistence-context.
								]]>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>			
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="global-transitions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="transition" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
Defines a transition from one state to another.
<br>
A transition defines a supported path through the flow.  Transitions may be annotated with attributes
and may execute one or more actions before executing.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="end-actions">
		<xsd:complexType>
			<xsd:group ref="actionTypes" maxOccurs="unbounded" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="output-mapper">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="mapping" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<![CDATA[
A rule that maps the value of a source expression to a property of a target data structure.
Extremely flexible, allowing mapping of output attributes from any data structure with 
support for type conversion.
]]>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="exception-handler">
		<xsd:complexType>
			<xsd:attribute name="bean" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The bean id of a custom exception handler implementation to attach.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="import">
		<xsd:complexType>
			<xsd:attribute name="resource" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
The relative resource path to a bean definition file to import.  Imported bean definitions 
are referenceable by this flow.  The resource path is relative to this document.
<br>
For example:
<pre>
    &lt;import resource="orderitem-flow-beans.xml"/&gt;
</pre>       
... would look for 'orderitem-flow-beans.xml' in the same directory as this document.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="secured">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
Applies attributes to Spring Secuirty based principal authorities upon enterance.  
If the security requirement is not met, an AccessDeniedException is thrown.
]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="authorities" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Comma separated list of security authorities.
]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="match" use="optional" default="any">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[
Method used to match authorities.  Accepted values are 'any' and 'all'.  Default is 'any'.
]]>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="any">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Matching any of the authorities will allow access
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="all">
							<xsd:annotation>
								<xsd:documentation>
									<![CDATA[
Matching all of the authorities will allow access
]]>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>